:root {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
    line-height: 1.5;
    margin: 15px auto;
    min-width: 240px;
    padding: 10px;
    text-align: center;
}

a {
    background: #007bfe;
    border-radius: 32px;
    color: #fff;
    display: block;
    font-weight: 600;
    margin: 16px;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    a {
        background:#0a84fe;
    }
}
