:root {
    color-scheme: light dark;
}

body {
    min-width:300px;
    line-height: 1.5;
    padding: 10px;
    margin: 15px auto;
    font-family: system-ui;
    text-align: center;
}

div {
    border: 2px solid;
    border-color: #0af;
    text-align: center;
    padding: 5px 12px;
    margin: 8px;
}
div a {
    display: block;
    text-decoration: none;
    color: #0070ff;
}

@media (prefers-color-scheme: dark) {
    div {border-color:#0050a0}
    div a {color:#00b2ff}
}
