<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.tsg0o0.safariweba11y</string>
				<string>tsg0o0.weba11y</string>
				<string>weba11y</string>
			</array>
		</dict>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>FontChangeIntent</string>
		<string>BoldTextIntent</string>
		<string>ButtonShapeIntent</string>
		<string>EditFontIntent</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>BoldTextIntent</string>
		<string>ButtonShapeIntent</string>
		<string>FontChangeIntent</string>
		<string>EditFontIntent</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
